html, body, h1, h2, h3, h4, h5, h6 {
  	margin: 0;
  	padding: 0;
  	border: 0;
    font-weight:normal;
}

body {
    font-family:"Arial";
    font-size:14px;
}

h2 {
    color:black;
    font-size:24px;
    font-family:"Times New Roman";
    padding-top:10px;
}

#title {
    font-family:"Kaushan Script", sans-serif;
    font-size:36px;
    color:white;
}

#subtitle {
    font-family:"Times New Roman", serif;
    font-size:24px;
    color:white;
    padding-top:0;
}

#cabecalho {
    padding:20px 0px 13px 34px;
    margin:0;
    border:0;
    background-color:#6175f0;
}

#verdade {
    clear:left;
}

#cavalo {
    float:left;
    width:310px;
    margin-right:13px;
}

.referencia {
    font-style:italic;
}

#hoje {
    float:right;
    width:405px;
    box-sizing:border-box;
    padding-top:10px;
    margin-right:25px;
    padding-left:35px;
    padding-right:35px;
    background-color:#f8cef7;
    border:1px solid #ff56fb;
    text-align:center;
}

.hojeicon {
    width:112px;
}

#musica {
    clear:left;
    padding-left:12px;
}

.estrofe {
    padding-left:34px;
}

::-webkit-scrollbar-track {
    background-color:#F4F4F4;
}
::-webkit-scrollbar {
    width:6px;
    background:#F4F4F4;
}
::-webkit-scrollbar-thumb {
    background:#dad7d7;
}

.destacado {
    color:#004a79;
    background-color:#c4caf3;
    clear:left;
}
